body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #3d535f;
}

.calculator {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgb(168, 26, 244);
}

#display {
  width: 90%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: #d1b5eb;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: grab;
}

button:hover {
  background-color: #ef80dd;
}
          